{% extends "layout.html.twig" %}
{% block contenu %}
    <div class="row">
            <form method="post" action="
                {% if app.session.get('logged') is defined and  app.session.get('logged') == 1 %}
                    {{ path('client.edit') }}
                   {% else %}
                    {{ path('client.add') }}
                {% endif %}
            ">
                <div class="row"></div>
                {% if errors is defined %}
                    <div data-alert class="alert-box alert round">
                        <ul>
                            {% for error in errors %}
                                <li>{{ error.getPropertyPath }} : {{ error.getMessage }}</li>
                            {% endfor %}
                        </ul>
                        <a href="#" class="close">&times;</a>
                    </div>
                {% endif %}

                <fieldset>
                    {% if app.session.get('logged') is defined and  app.session.get('logged') == 1 %}
                        <legend>Vos informations</legend>
                    {% else %}
                        <legend>Veuillez remplir le formulaire d'inscription</legend>
                    {% endif %}

                    {% if app.session.get('logged') is defined and  app.session.get('logged') == 1 %}
                        <input name="id" type="hidden" value="{{ data.id }}" />
                    {% endif %}

                    <label>
                         Identifiant:
                        {% if app.session.get('logged') is defined and  app.session.get('logged') == 0 %}
                            (Il vous servira à vous connecter)
                        {% endif %}
                        <input name="login" type="text" {% if app.session.get('logged') is defined and  app.session.get('logged') == 1 %} value="{{ data.login }}" {% endif %}/>
                    </label>
                    {% if erreurs.login is defined %}
                        <small class="error">{{erreurs.login}}</small>
                    {% endif %}

                    <label> Mot de passe:
                        <input name="password" type="password" {% if app.session.get('logged') is defined and  app.session.get('logged') == 1 %}value="{{ data.password }}" {% endif %} />
                    </label>
                    {% if erreurs.paswword is defined %}
                        <small class="error">{{erreurs.password}}</small>
                    {% endif %}

                    {% if app.session.get('logged') is defined and  app.session.get('logged') == 0 %}
                        <label> Mot de passe (Vérification):
                            <input name="password_verif" type="password" value="" />
                        </label>
                        {% if erreurs.paswword_verif is defined %}
                            <small class="error">{{erreurs.password_verif}}</small>
                        {% endif %}
                    {% endif %}

                    <label> Nom:
                        <input name="nom" type="text" {% if app.session.get('logged') is defined and  app.session.get('logged') == 1 %}value="{{ data.nom }}" {% endif %}/>
                        {% if erreurs.nom is defined %}
                            <small class="error">{{erreurs.nom}}</small>
                        {% endif %}
                    </label>

                    <label> Prénom:
                        <input name="prenom" type="text" {% if app.session.get('logged') is defined and  app.session.get('logged') == 1 %} value="{{ data.prenom }}" {% endif %}/>
                        {% if erreurs.prenom is defined %}
                            <small class="error">{{erreurs.prenom}}</small>
                        {% endif %}
                    </label>

                    <label> Adresse:
                        <input name="adresse" type="text" {% if app.session.get('logged') is defined and  app.session.get('logged') == 1 %}value="{{ data.adresse }}" {% endif %}/>
                        {% if erreurs.adresse is defined %}
                            <small class="error">{{erreurs.adresse}}</small>
                        {% endif %}
                    </label>

                    <label> Code Postal:
                        <input name="code_postal" type="text" {% if app.session.get('logged') is defined and  app.session.get('logged') == 1 %} value="{{ data.code_postal }}" {% endif %}/>
                    </label>
                    {% if erreurs.code_postal is defined %}
                        <small class="error">{{erreurs.code_postal}}</small>
                    {% endif %}

                    <label> Ville:
                        <input name="ville" type="text" {% if app.session.get('logged') is defined and  app.session.get('logged') == 1 %}value="{{ data.ville }}" {% endif %}/>
                    </label>
                    {% if erreurs.ville is defined %}
                        <small class="error">{{erreurs.ville}}</small>
                    {% endif %}

                    <label> Email
                        {% if app.session.get('logged') is defined and  app.session.get('logged') == 0 %}
                             (Nous confirmons l'envoi de vos commandes par email !)
                        {% endif %}
                        <input name="email" type="text" {% if app.session.get('logged') is defined and  app.session.get('logged') == 1%}value="{{ data.email }}" {% endif %}/>
                    </label>
                    {% if erreurs.email is defined %}
                        <small class="error">{{erreurs.email}}</small>
                    {% endif %}

                    {% if app.session.get('droit') is defined and app.session.get('droit') == 'DROITadmin' %}
                        <label>Droits:
                            <select name="droit">
                                <option value="DROITclient">
                                    Client
                                </option>
                                <option value="DROITadmin">
                                    Administrateur
                                </option>
                            </select>
                        </label>
                    {% else %}
                        <input name="droit" type="hidden" value="DROITclient" />
                    {% endif %}


                <input type="hidden" id="_method" name="_method" value="put" />
                    <input type="submit" class="" name="modifierClient" value="Modifier vos informations">
                </fieldset>
            </form>
    </div>
{% endblock contenu%}