{% extends "layout.html.twig" %}
{% block contenu %}
	<div class="row">
		<table>
			<caption>Recapitulatifs des albums</caption>
			<thead>
			<tr><th>Album</th><th>Artiste</th><th>Genre</th><th>Prix</th><th>Pochette</th>
				{% if app.session.get('droit') is defined and app.session.get('droit') == 'DROITclient' %}
					<td>Panier</td>
				{% endif %}
				{% if   app.session.get('droit') is defined and  app.session.get('droit') == 'DROITadmin' %}
					<th>Opération</th>
				{% endif %}
			</tr>
			</thead>
			<tbody>
			{% for album in data if data is not empty %}

				<tr>
					<td>{{album.nom}}</td>
					<td>{{ album.artiste }}</td>
					<td>{{album.libelle}}</td>
					<td>{{album.prix}}</td>
					<td>
						<img style="width:140px;height:140px" src="{{asset('images/')}}{{album.photo}}" alt="image de {{album.libelle}}" >
					</td>
					{% if app.session.get('droit') is defined and app.session.get('droit') == 'DROITclient' %}
						<td>
                            {% if album.stock > 0 %}
							    <a href="{{ path('panier.add', {id: album.id}) }}" >
									<span class="fi-shopping-cart" style="margin-left: 30%;"> Ajouter
                                        <br>(Encore {{ album.stock }} exemplaires)</span></a>
                            {% else %}
                                <i class="fi-alert" style="margin-left: 40%; color: red;">
                                    <br>
                                    Album victime de son succès !
                                </i>
                            {% endif %}
						</td>
					{% endif %}
					{% if app.session.get('droit') is defined and  app.session.get('droit') == 'DROITadmin' %}
						<td>
							<a href="{{ path('album.edit', {id: album.id}) }}"><i class="fi-widget"></i> Modifier</a>
							<br/>
							<a href="{{ path('album.delete', {id: album.id}) }}"><i class="fi-x"></i> Supprimer</a>
						</td>
					{% endif %}

				</tr>
			{% endfor %}
			<tbody>
		</table>
	</div>
{% endblock %}

