{% extends "layout.html.twig" %}
{% block contenu %}
	<div class="row">
		<table>
			<caption>Recapitulatifs des albums</caption>
			<thead>
			<tr><th>Album</th><th>Artiste</th><th>Genre</th><th>Prix</th><th>Pochette</th>
				{% if app.session.get('droit') is defined and app.session.get('droit') == 'DROITclient' %}
					<td>Panier</td>
				{% endif %}
				{% if   app.session.get('droit') is defined and  app.session.get('droit') == 'DROITadmin' %}
					<th>Opération</th>
				{% endif %}
			</tr>
			</thead>
			<tbody>
			{% for album in data if data is not empty %}

				<tr>
					<td style="font-size: 16px;"><i class="fi-record"></i> {{album.nom}}</td>
					<td style="font-size: 16px;"><i class="fi-male"></i> {{ album.artiste }}</td>
					<td><i class="fi-microphone"></i> {{album.libelle}}</td>
					<td>{{album.prix}} <i class="fi-euro" style="size: 25px;"></i></td>
					<td>
						<img style="width:140px;height:140px; border-radius: 10px;" src="{{asset('images/')}}{{album.photo}}" alt="image de {{album.libelle}}" >
					</td>
					{% if app.session.get('droit') is defined and app.session.get('droit') == 'DROITclient' %}
						<td>
                            {% if album.stock > 0 %}
							    <a href="{{ path('panier.add', {id: album.id}) }}" >
                                    {% if album.stock > 10 %}
									    <span class="fi-shopping-cart" style="margin-left: 30%;"> Ajouter
                                            <br>
                                            <i class="fi-info"></i> Encore {{ album.stock }} exemplaires <i class="fi-info"></i>
                                        </span></a>
                                    {% else %}
                                        <span class="fi-shopping-cart" style="margin-left: 30%; color: #ff8f0e"> Ajouter
                                        <br>
                                        <i class="fi-burst-sale"></i> Plus que {{ album.stock }} exemplaires ! <i class="fi-burst-sale"></i>
                                        </span>
                                    {% endif %}
                                </a>
                            {% else %}
                                <i class="fi-alert" style="margin-left: 40%; color: red;">
                                    <br>
                                    Album victime de son succès !
                                </i>
                            {% endif %}
						</td>
					{% endif %}
					{% if app.session.get('droit') is defined and  app.session.get('droit') == 'DROITadmin' %}
						<td>
							<a href="{{ path('album.edit', {id: album.id}) }}"><i class="fi-widget"></i> Modifier</a>
							<br/>
							<a href="{{ path('album.delete', {id: album.id}) }}"><i class="fi-x"></i> Supprimer</a>
						</td>
					{% endif %}

				</tr>
			{% endfor %}
			<tbody>
		</table>
	</div>
{% endblock %}

