{% extends "layout.html.twig" %}
{% block contenu %}
    <div class="row">
        <table>
            <caption>Liste des utilisateurs</caption>

            <thead>
                <th>Login</th>
                <th>Password</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Code Postal</th>
                <th>Ville</th>
                <th>Email</th>
                <th>Droits</th>
                <th>Modifier</th>
            </thead>

            <tbody>
            {% for user in data if data is not empty %}
                <tr>
                    <td>{{ user.login }}</td>
                    <td>{{ user.password }}</td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.adresse }}</td>
                    <td>{{ user.code_postal }}</td>
                    <td>{{ user.ville }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.droit }}</td>
                    <td>
                        <a href="{{ path('client.modify', {id: user.id}) }}"><i class="fi-widget"> Modifier</i></a>
                        <br/>
                        <a href="{{ path('client.valideDelete', {id: user.id}) }}"><i class="fi-x"> Supprimer</i></a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}